.accordion-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  gap: 15px;
}

.accordion-item {
  background: #876223;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-content {
  margin-top: 10px;
  font-size: 14px;
}
